
body {
  font-family: monospace;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  font-weight: bold;
}
.logo {
  font-size: 20px;
}
.score {
  font-size: 20px;
}
.speed .dot {
  height: 8px;
  width: 8px;
  margin: 0 2px;
  display: inline-block;
  border-radius: 50%;
  background-color: gray;
}
.speed .active {
  background-color: black;
}
textarea {
  width: 90%;
  height: 70%;
  margin: 0 auto;
  display: block;
  font-size: 16px;
  padding: 12px;
  box-sizing: border-box;
}
.footer {
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-btn {
  font-size: 24px;
  background: none;
  border: none;
}
